<!--预览视图-->
<div xmlns:th="http://www.thymeleaf.org" class="settle-up" th:id="${componentId}">
    <div class="settleup">
        <div class="cw-icon">
            <i class="ci-left"></i>
            <i class="ci-right">&gt;</i>
            <i class="ci-count" id="shopping-amount" th:if="${loginState}" th:text="${shoppingCartCount}">0</i>
            <a target="_blank" th:href="@{/shoppingCartList(userId=${userId})}">我的购物车</a>
        </div>
        <!--<div class="dorpdown-layer">-->
        <!--<div class="spacer"></div>-->
        <!--<div class="prompt">-->
        <!--<div class="nogoods">购物车中还没有商品，赶紧选购吧！</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
<!--/预览视图-->